@{
    ViewBag.Title = "ReportSpace Customer Dashboard";
    ViewBag.Description = "Dashboard";
    ViewBag.Icon = "iconfa-bar-chart";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="span12">

  <h5 class="subtitle">Dashboard Reports / Info</h5>
                        
</div>


