<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="DefaultConnection" connectionString="data source=ACROWINSQL03;initial catalog=ACCINC2;persist security info=True;user id=ReportSpace;password=ReportSpaceuser;multipleactiveresultsets=True;App=ReportSpaceweb;"
         providerName="System.Data.SqlClient" />
  </connectionStrings>

  <appSettings>
    <add key="ReportServerUrl" value="http://acrowinsql03/reportserver" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>

  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>

  <system.serviceModel>
    <client xdt:Transform="Replace">
      <endpoint address="http://ACROWINSQL03:80/ReportServer/ReportExecution2005.asmx" binding="basicHttpBinding" bindingConfiguration="ReportExecutionServiceSoap" contract="ReportingService.ReportExecutionServiceSoap" name="ReportExecutionServiceSoap" />
    </client>
  </system.serviceModel>
  <applicationSettings>
    <ReportSpace.CustomerDashboard.Web.Properties.Settings>
      <setting name="ReportSpace_CustomerDashboard_Web_ReportingService2010_ReportingService2010" serializeAs="String" xdt:Transform="Replace">
        <value>http://ACROWINSQL03:80/ReportServer/ReportService2010.asmx</value>
      </setting>
    </ReportSpace.CustomerDashboard.Web.Properties.Settings>
  </applicationSettings>

</configuration>