<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="ReportServerUrl" value="http://localhost/reportserver" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>
    <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
  <system.serviceModel>
    <client xdt:Transform="Replace">
      <endpoint address="http://localhost/ReportServer/ReportExecution2005.asmx" binding="basicHttpBinding" bindingConfiguration="ReportExecutionServiceSoap" contract="ReportingService.ReportExecutionServiceSoap" name="ReportExecutionServiceSoap" />
    </client>
  </system.serviceModel>
  <applicationSettings>
    <ReportSpace.CustomerDashboard.Web.Properties.Settings>
      <setting name="ReportSpace_CustomerDashboard_Web_ReportingService2010_ReportingService2010" serializeAs="String" xdt:Transform="Replace">
        <value>http://localhost/ReportServer/ReportService2010.asmx</value>
      </setting>
    </ReportSpace.CustomerDashboard.Web.Properties.Settings>
  </applicationSettings>
</configuration>